<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LexiPal AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/headerFooter.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body style="background-image: url('{{ url_for('static', filename='images/Bkgr1.svg') }}');">
<div class="container">

    {% include 'components/header.html' %}


    <!-- Main Section -->
    <main id="home">
        <div class="title">LexiPal</div>
        <div class="description"><h4>Explore the power of LexiPal, a cutting-edge AI that offers conversational
            experiences like never before.
            Whether you're seeking help with learning, or simply having a conversation, LexiPal is your
            intelligent assistant.</h4></div>

        <div class="buttons">
            <a href="/chat" target="_blank">
                <div class="card">
                    <h2>Chat Now</h2>
                    <p>Free access to LexiPal<br>Experience the intelligent model in action.</p>
                </div>
            </a>
            <div class="card">
                <h2>Get LexiPal App</h2>
                <p>Chat on the go with LexiPal.<br>Your free all-in-one AI assistant.<br></p>
            </div>
        </div>

        <!-- Information Section about Chat -->
        <section class="chat-info" id="features">
            <h2>About LexiPal</h2>
            <p style="font-size: 18px;font-weight: bold">LexiPal is your ultimate AI language partner, helping you learn and practice through interactive conversations.</p>

            <!-- Four Feature Boxes -->
            <div class="info-container">
                <div class="info-box" id="languages">
                    <h3>🌍 Learn Multiple Languages</h3>
                    <p>Practice Spanish, French, German, English, Japanese, and more at your own pace.</p>
                </div>
                <div class="info-box">
                    <h3>🎭 Customizable Partners</h3>
                    <p>Choose and personalize your AI language partner for a fun, immersive experience.</p>
                </div>
                <div class="info-box">
                    <h3>🎉 100% Free Prototype</h3>
                    <p>Enjoy full access to LexiPal’s features completely free of charge!</p>
                </div>
            </div>
        </section>
    </main>

    {% include 'components/footer.html' %}

</div>
</body>
</html>